#APIS
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
IGDB_ACCESS_TOKEN=
STEAM_API_KEY=
 
#DB
DATABASE_URL=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
 
 
#HuggingFace
#Label
HF_LABELLING_MODEL_ID=
 
#Groq
GROQ_API_KEY=
GROQ_LABELLING_MODEL_ID=